@{
    ViewData["Title"] = "Резюме";
}

<section class="row-alt">
    <div class="lead container">

        <h1>@ViewData["Title"]</h1>

    </div>
</section>

<section class="row">
    <div class="grid">
        <section id="Roman">


            <div class="col-2-3">
                <h2>Роман Пермяков</h2>
                <h4>.NET программист</h4>
                <p>Мужчина, 37 лет, родился 2 декабря 1984г.</p>
                <p>Томск, не готов к переезду, готов к командировкам</p>
                <h4>Опыт работы</h4>
                <p>Январь 2022 — по настоящее время</p>
                <h5>ООО «БИ АЙ РЕШЕНИЯ»</h5>
                <p>Воронеж</p>
                <h5>Младший программист-разработчик С#/.NET</h5>

                <p>Август 2007 — по настоящее время</p>
                <h5>АО "НИИПП"</h5>
                <h5>Инженер-электроник</h5>

                <h4>Обо мне</h4>

                <ul>
                    <li><p>Обладаю техническими навыками, желанием и способностью к обучению,практикой работы в команде.</p></li>
                    <li><p>Навыки и способности:</p></li>
                    <li><p>- С++/С#;</p></li>
                    <li><p>- Понимание принципов ООП;</p></li>
                    <li><p>- Программирование и администрирование SQL и no-SQL БД (Microsoft SQL Server, MySQL, SQLite, PostgreSQL, MongoDB);</p></li>
                    <li><p>- Опыт работы с файлами JSON, CSV, XML;</p></li>
                    <li><p>- Технология доступа к базам данных ADO.NET, Entity Framework;</p></li>
                    <li><p>- Ведение XML-документации по API (DocFX);</p></li>
                    <li><p>- Основы разработки приложений с использованием Windows Forms, WPF;</p></li>
                    <li><p>- Автономное тестирование Nunit, каркас NSubstitute</p></li>
                    <li><p>- Знание принципов TDD</p></li>
                    <li><p>- Data Structures и Design Patterns;</p></li>
                    <li><p>- Git, GitHub;</p></li>
                    <li><p>- SOLID;</p></li>
                    <li><p>- SCRUM, Опыт работы в команде (Trello, GitHub, Slack);</p></li>
                </ul>

            </div><!--

            --><aside class="col-1-3"> 
                   
                <div class="my-info">
                    <img src="~/img/resume/myphoto.png" alt="Мое фото">
                    <ul>
                        <li>+7923*******</li>
                        <li><a href="https://github.com/Presstomsk">https://github.com/Presstomsk?tab=repositories</a></li>
                    </ul>
                </div>
            </aside>

        </section>
    </div>
</section>
