@{
    ViewData["Title"] = "Main";
}

<section class="hero container">
    <h2>Путешествие в тысячу миль начинается с первого шага.</h2>
</section>
<section class="row">
    <div class="grid">
        <!-- Резюме -->
        <section class="teaser col-1-3">
            <a href="/ResumeWebsite/About">
                <img src="~/img/home/Resume.jpg" alt="Резюме">
                <h5>Резюме</h5>
            </a>
            <p>Кто я такой?</p>
        </section><!--
        Примеры моих работ
        --><section class="teaser col-1-3">     
        
            <a href="/ResumeWebsite/Projects">
                <img src="~/img/home/Projects.jpg" alt="Проекты">
                <h5>Примеры моих работ</h5>
            </a>
            <p>Мои проектики</p>
        </section><!--
        Мои контакты
        --><section class="teaser col-1-3">
            <a href="/ResumeWebsite/Contacts">
                <img src="~/img/home/Contacts.jpg" alt="Контакты">
                <h5>Мои контакты</h5>
            </a>
            <p>Как со мной связаться?</p>
        </section>
    </div>
</section>
    
