@{    
}
<section class="row">
    <div class="grid">
        <div class="col-2-3">
            <h4>Ваше сообщение зарегистрировано!</h4>

            <ul>
                <li><p>ID: @ViewBag.FormMessage.ID</p></li>
                <li><p>Name: @ViewBag.FormMessage.Name</p></li>
                <li><p>Email: @ViewBag.FormMessage.Email</p></li>
                <li><p>Comments: @ViewBag.FormMessage.Comments</p></li>
            </ul>

        </div>
    </div>
</section>

