@{
	ViewData["Title"] = "Мои проекты";
}    

<section class="row-alt">
	<div class="lead container">

		<h1>@ViewData["Title"]</h1>

	</div>
</section>
<section class="row">
	<div class="grid">
		<ul>
			<li><p><a href="https://github.com/Presstomsk/CashSearch">CashSearch</a> - Программа поиска Кэша на компьютере</p></li>
			<li><p><a href="https://github.com/Presstomsk/Quiz">Quiz</a> -Приложение «Викторина». Задача проекта: предоставить пользователю возможность проверить знания в различных областях.</p></li>
			<li><p><a href="https://github.com/Presstomsk/Quiz-WinForms">Quiz-WinForms</a> -Пльзовательское приложение "Викторина", выполненная с использованием технологии Windows Forms. Задача проекта: предоставить пользователю возможность проверить знания в различных областях.</p></li>
			<li><p><a href="https://github.com/Presstomsk/O-X-WPF">O-X-WPF</a> -Реализация игры Крестики-Нолики с использованием WPF. Режим игры с человеком/с компьютером. В игре есть лазейка, как можно выйграть компьютер. Сделал специально, так как иначе просто не интересно</p></li>
			<li><p><a href="https://github.com/Presstomsk/TXTEditor">TXTEditor</a> -Разработка текстового редактора. </p></li>
			<li><p><a href="https://github.com/Presstomsk/ARGB_App">ARGB_App</a> -Приложение, позволяющее настраивать цвет в системе ARGB.</p></li>
			<li><p><a href="https://github.com/Presstomsk/AviaTickets">AviaTickets</a> -Поисковая система дешевых авиабилетов </p></li>
		</ul>
	</div>
</section>
